/* https://html.spec.whatwg.org/#flow-content-3 */

@namespace "http://www.w3.org/1999/xhtml";

[popover]:not(:popover-open):not(dialog[open]):not(:-internal-select-popover) {
    display: none;
}
dialog:popover-open {
    display: block;
}

[popover] {
    position: fixed;
    width: fit-content;
    height: fit-content;
    overflow: auto;
}

[popover]:not(:-internal-select-popover) {
    inset: 0;
    margin: auto;
    border: solid;
    padding: 0.25em;
    color: CanvasText;
    background-color: Canvas;
}

[popover]:popover-open::backdrop {
    position: fixed;
    inset: 0;
    pointer-events: none !important;
    background-color: transparent;
}
